parameters:
    level: 6
    paths:
        - src/
    excludePaths:
        - src/Kernel.php
    ignoreErrors:
        - '#Property .* is never assigned int so it can be removed from the property type#'
